* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    width:1182px;
    background: white ;
    margin:0px auto;
    padding: 0px 5px;
}
.logo{
    width: 150px;
    margin-left: 20px;
    height: auto;
    margin-top: 15px;
    margin-left: 60px;
}
#mainmenu{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    position: relative;
    height: 170px;
}
.search{
    height: 74%;
    border-radius: 12.5px;
    width:192px;
    float:left;
    background:#015EBE;
    margin-left:20px;
    margin-top:5px;
}
.search input{
    margin-left:10px;
    margin-top:1px;
    background:none;
    border:none;
    font-weight:800;
    color:white;
    width:80%;
}
.search input:focus{
    outline: none;
}
.search span{
    color:white;
    font-size:1.1rem; 
    margin-top:2px;
}
.menu-list {
        display: flex;
        list-style: none;
}
.menu-list >li {
    display: block;
    position: relative  ;
    margin-left: 70px;
    line-height: 50px;
    padding:0 15px;
}
.menu-list >li.active >a {
    color: #E6D088;
    text-decoration: underline;

}
.c1 {
    display:none;
    list-style-type:none;
    position: absolute;
    width:250px;
    left:0;
    background: #849C68;
}
.c2 {
    display:none;
    list-style-type:none;
    position: absolute;
    width:150px;
    left:0;
    background: #849C68;
}
.menu-list :hover >ul{
    display: block;
    
    
}
.menu-list>li a {
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: bold;
}
.menu-list >li:hover >a{
    color: #E6D088;
    text-decoration: underline;
    
}
.menu-list >li>ul>li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu-list>li>ul>li{
    height: 35px;
    line-height: 35px;
    padding-left:10px;
    padding-right:10px;
    overflow: hidden;
}

.menu-list>li>ul>li:hover{
    background:#849C68 ;
    color: #F2DCB0;
   position: relative;
   animation: slide 0.8s;
   animation-timing-function: ease-in;
}
@keyframes slide {
    0%{left:-8px;}
    20%{left:6px;}
    40%{left:-4px;}
    60%{left:2px;}
    80%{left:0px}
    100%{left:2px}
}
.menu-list>li>ul :hover a{
    color: #F2DCB0;
}
img.banner__img {
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.caption {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: #000;
    font-style: italic;
}
.note {
    display: block;
    width: 64%;
    text-align: right;
    font-weight: 500;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 30px;
    /* margin-top: px; */
    /* vertical-align: top; */
}
.blog-list {
    flex: 0 75%;
    
    padding-left: 50px;
}

.blog {
    background-color: rgba(216, 222, 200, 0.3);
    padding: 50px 0;
    margin-bottom: 50px;
}
.blog-title {
    text-align: center;
}

.blog-title {
    font-size: 26px;
    margin-bottom: 30px;
    font-family:'Yanone Kaffeesatz', sans-serif ;
    font-style: italic ;
}


.hp img{
    width: 650px;
    height: 500px;
    margin-bottom: 50px;
}

.blog-details {
    padding: 0 50px;
    line-height: 1.8;
}
.blog-details p{
    font-family: 'Kurale', serif;
    font-size: 18px;
}
.hp15 img{
    width: 360px;
    height:350px;
    display: inline-block; 
    margin-top: 30px;

}
.hp17 img{
    width: 650px;
    height: 500px;
    margin-bottom: 50px;
}

.blog p {
    margin-bottom: 15px;
}

/* Author */
.author {
    flex: 0 25%;
    background-color:  rgba(216, 222, 200, 0.33);
    position: sticky;
    top: 50px;
    height: 100%;
    margin-bottom: 45px;
}

.author-image {
    padding: 15px 0;
    align-self: stretch;
    text-align: center;
    background-image: url(./backg.jpg);
}

.author img {
    width: 120px;
    border-radius: 50%;
}
.author-image :hover{
    transform: scale(1.2);
}
.author-p {
    padding: 30px;
    
}

.author-p h1 a{
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.author-p h1 :hover {
    text-decoration: underline;
    /* color:#E6D088 ; */
}

.author-p p {
    line-height: 1.8;
    color: black;
    font-family:'Kurale', serif;
    font-size: 18px;
}

.quotes {

    justify-content: center;
    align-items: center;
    display: flex;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 10px 20px 10px 30px;
    background-color: rgb(208, 223, 167);
    margin-bottom: 50px;
}
.quotes p {

    font-family: 'Kurale', serif;
    color: black;
    font-size: 25px;
    padding: 50px 190px 50px 190px;
}
.data {
    display: flex;
    margin-bottom: 30px;
}

.content-data {
    width: 58%;
    height: 1000px;
    display: block;
    background-color: rgb(230, 208, 136);
    padding: 85px;
}

.content-data h2 {
    margin-bottom: 60px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 100px;
    color: white;

}

.content-data p {
    font-family: 'Kurale', serif;
    font-size: 25px;
    font-style: italic;
    color: black;
}

.img-data {
    width: 42%;
    height: 100%;
}
.img-data img{
    width: 495px;
    height: 330.7px;
}
footer {
    background-color: #A6B483;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 14px;
    width: 100%;
}
footer .policy {
    margin-top: 6px;
}

footer .policy a{ text-decoration: none;
    padding: 8px;
    color: white;
}

footer .policy a:active, footer .policy a:hover {
        color: black;
}

.social-link a {
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
}
.social-link a img{
    width: 30px;
    height: 30px;
}

.social-link {
    margin-top: 10px;
}

.social-link a:active, .social-link a:hover {
    color: black;
}
.social-link :hover {
    transform: scale(1.3);
}