* {
    box-sizing: border-box;
  }

body {
    background-color: beige;
    margin: 0;
  }

.topnav {
    overflow: hidden;
    /* background-color: #e9e9e9; */
    height: 320px;
    background-image: url(logo2.jpg);
    background-position: 70%;
    margin-bottom: 30px;
    background-size: contain;
    
}

.topnav a {
    float: left;
    display: block;
    color: yellow;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;

}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;

}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
    float: none;
}
.topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
      
}
.topnav input[type=text] {
      border: 1px solid #ccc;
    }
}

.top {
    width: 1300px;
    margin: auto;
}
.main {
    background-color: white;
    max-width: 1300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: auto;
    width: 1300px ;
}
.hyperlink {
    width: 260px;
    margin: 5px;
}
h4 {
    color: #757575;
}
.hyperlink ul {
    padding: 0px;
}
.hyperlink ul li {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    border-bottom: 1px dashed coral;
    padding: 20px;
}
.hyperlink ul li a {
    color: coral;
    text-decoration: none;
    font-style: italic;
}
.hyperlink ul li :hover {
    text-decoration: underline;
}
.post {
    display: flex;
    flex-direction: column;
}
.para {
    display: flex;
    flex-direction: row;
    border: white solid;
    background-color: white;
    height: 200px;
    margin: 20px 5px;
    border-radius: 7px;
}
.para:hover {
    /* display: flex;
    flex-direction: row; */
    height: 200px;
    margin: 20px 5px;
    border: coral solid;
    border-radius: 7px;
}
.para img {
    height: 194px;
    width: 200px;
    overflow: hidden;
    display: flex;
    max-width: 200px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: 20px;
    width: 650px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.title1 {
    font-size: 30px;
    color: coral;
    font-weight: bold;
}
.time {
    color: #bfbfbf;
    font-size: 14px;
    padding: 10px 0px;
}
.brief {
    color: #757575;
    text-align: justify;
    font-style: italic;
    overflow: hidden;
}
  .continue {
    margin-top: 10px;
}
.continue a {
    color: coral;
    font-style: italic;
    font-weight: bold;
    padding: 10px 0px;
}
hr{
    width: 52%;
    border-top: 1.3px dashed coral;
}
footer {
    background-color: #A6B483;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 14px;
    width: 100%;
}
footer .policy {
    margin-top: 6px;
}

footer .policy a{ text-decoration: none;
    padding: 8px;
    color: white;
}

footer .policy a:active, footer .policy a:hover {
        color: black;
}

.social-link a {
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
}
.social-link a img{
    width: 30px;
    height: 30px;
}

.social-link {
    margin-top: 10px;
}

.social-link a:active, .social-link a:hover {
    color: black;
}
.social-link :hover {
    transform: scale(1.3);
}


